@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css {
    <link href="~/css/Index.css" rel="stylesheet" />
}

<div class="container-fluid m-0 mb-5 p-0">


    @await Component.InvokeAsync("MainPageCarousel")

    <div class="container-fluid">
        <div class="container px-4 py-5" id="hanging-icons">

            @await Component.InvokeAsync("MainPageConMark")

            @await Component.InvokeAsync("MainPageFeaturette")
        </div>
    </div>
    <a asp-action="LogIn" asp-controller="Admin" asp-area="Admin">LogIn</a>
</div>
