@model List<SocialMedia>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="https://localhost:44376/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <img class="img-rounded" href="~/lib/bootstrap-icons/icons/5-square.svg" />
        </a>
        @* <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Company, Inc</span> *@
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        @foreach (var item in Model as List<SocialMedia>)
        {
            <li class="ms-3">
                <a class="text-body-secondary" href="@item.Link">
                    <img src="https://localhost:7273/api/Image/GetImageByName/name?name=/@(item.Images.ImageUrl)" alt="@item.Title" />
                </a>
            </li>
        }
    </ul>
</footer>