
@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}
@section Style
{
    <link href="~/css/Admin/Index.css" rel="stylesheet" />
}

<div class="container-fluid m-0 p-0">
    <!-- #region Container Mains -->
    @await Component.InvokeAsync("CarouselComponent")
    <!-- #endregion -->
    <!-- #region Container Marketing -->
    @await Component.InvokeAsync("ContainerMarketingComponent")
    <!-- #endregion -->
    <!-- #region Featurette Mains -->
    @await Component.InvokeAsync("FeaturetteComponent")
    <!-- #endregion -->
    <!-- #region Social Media -->
    @await Component.InvokeAsync("SocialMediaComponent")
    <!-- #endregion -->

</div>