<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HalisElektronik</title>
    <meta name="author" content="Duhan Halis - DH">
    <meta name="description" content="@ViewData[" Description"] - Televizyon Tamiri, Uydu İşleri, Sakarya">
    <link rel="stylesheet" href="../../wwwroot/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../Layout/_Layout.css" />
</head>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="chevron-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
    </symbol>
    <symbol id="house" viewBox="0 0 16 16">
        <path
            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
    </symbol>
    <symbol id="list" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
    </symbol>
    <symbol id="map" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.5.5 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103M10 1.91l-4-.8v12.98l4 .8zm1 12.98 4-.8V1.11l-4 .8zm-6-.8V1.11l-4 .8v12.98z" />
    </symbol>
    <symbol id="youtube" viewBox="0 0 16 16">
        <path
            d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31" />
    </symbol>

</svg>
<body>
    <header class="container-header">
        <div class="header-container">
            <div class="header-logo">
                <a href="">
                    <svg class="bi">
                        <use href="#house"></use>
                    </svg>
                </a>
            </div>
            <div class="header-list">
                <ul class="header-list-group">
                    <li class="header-list-item">
                        <a href="#" class="">
                            <img src="../wwwroot/lib/Icons/house.svg" alt="">
                            <p>Anasayfa</p>
                        </a>

                    </li>
                    <li class="header-list-item categoryDropdown">
                        <a href="">
                            <img src="../wwwroot/lib/Icons/youtube.svg" style="fill: wheat;" alt="">
                            <p>Ürünler</p>
                            <img src="../wwwroot/lib/Icons/chevron-down.svg" alt="">
                        </a>
                        <ul class="header-list-item-group">
                            <li>
                                <a href="">
                                    <p>Etralom</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Cifawis</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Havacigeg</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Pujvobmaj</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Ujabebdeh</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Argogos</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Focigal</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="header-list-item">
                        <a href="">
                            <img src="../wwwroot/lib/Icons/youtube.svg" alt="">
                            <p>Blog</p>
                            <img src="../wwwroot/lib/Icons/chevron-down.svg" alt="">
                        </a>
                        <ul class="header-list-item-group">
                            <li>
                                <a href="">
                                    <p>Etralom</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Cifawis</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Havacigeg</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Pujvobmaj</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Ujabebdeh</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Argogos</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Focigal</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="header-list-item">
                        <a href="">
                            <img src="../wwwroot/lib/Icons/map.svg" alt="">
                            <p>Hakkımızda</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header-empty">
                <img src="../wwwroot/lib/Icons/list.svg" alt="" srcset="">
            </div>
        </div>
        <ul class="header-list-group-sm list-group">
            <li class="header-list-item">
                <a href="#" class="list-group-item">
                    <svg class="bi">
                        <use href="#house"></use>
                    </svg>
                    <p>Anasayfa</p>
                </a>

            </li>
            <li class="header-list-item">
                <a href="" class="list-group-item">
                    <svg class="bi">
                        <use href="#youtube"></use>
                    </svg>
                    <p>Ürünler</p>
                    <svg class="bi">
                        <use href="#chevron-down"></use>
                    </svg>
                </a>
                <ul class="header-list-item-group list-group">
                    <li>
                        <a class="list-group-item" href="">
                            <p>Etralom</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="">
                            <p>Cifawis</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="">
                            <p>Havacigeg</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="">
                            <p>Pujvobmaj</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="">
                            <p>Ujabebdeh</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="">
                            <p>Argogos</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="">
                            <p>Focigal</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="header-list-item">
                <a href="" class="list-group-item">
                    <svg class="bi">
                        <use href="#youtube"></use>
                    </svg>
                    <p>Blog</p>
                    <svg class="bi">
                        <use href="#chevron-down"></use>
                    </svg>
                </a>
                <ul class="header-list-item-group list-group">
                    <li>
                        <a href="" class="list-group-item">
                            <p>Etralom</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item">
                            <p>Cifawis</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item">
                            <p>Havacigeg</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item">
                            <p>Pujvobmaj</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item">
                            <p>Ujabebdeh</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item">
                            <p>Argogos</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item">
                            <p>Focigal</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="header-list-item">
                <a href="" class="list-group-item">
                    <svg class="bi">
                        <use href="#map"></use>
                    </svg>
                    <p>Hakkımızda</p>
                </a>
            </li>
        </ul>
    </header>


    <footer>
        <hr>
        <div class="container-footer">
            <div class="container-sign">
                <div class="footer-info w-25">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis suscipit ad nulla voluptatem quis ipsum, at cupiditate deleniti asperiores vero quam? Provident ipsam nulla sunt explicabo dolore suscipit veniam, at autem possimus minus fugiat tenetur, totam perferendis? Perspiciatis minus, aspernatur ipsa assumenda mollitia explicabo quam inventore ea autem id accusamus.
                </div>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="container-socialMedia">
                <ol class="footer-socialMedia">
                    <li class="footer-socialMedia-item">
                        <a href="">
                            <svg>
                                <use href="#youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-socialMedia-item">
                        <a href="">
                            <svg>
                                <use href="#list"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-socialMedia-item">
                        <a href="">

                            <svg>
                                <use href="#map"></use>
                            </svg>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </footer>
    

    <script src="../Layout/_Layout.js"></script>
    <script src="../../wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="../../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- @await RenderSectionAsync("Scripts", required: false) -->

</body>

</html>