<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HalisElektronik</title>
    <meta name="author" content="Duhan Halis - DH">
    <meta name="description" content="@ViewData["Description"] - Televizyon Tamiri, Uydu İşleri, Sakarya">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" />
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    <header class="container-header">
        <div class="header-container">
            <div class="header-logo">
                <a asp-action="Index" asp-controller="Home" asp-area="">
                    <img src="~/lib/Icons/browse.svg" />
                </a>
            </div>
            <div class="header-list">
                <ul class="header-list-group">
                    <li class="header-list-item">
                        <a asp-action="Index" asp-controller="Home" asp-area="">
                            <p>Anasayfa</p>
                        </a>

                    </li>
                    <li class="header-list-item categoryDropdown">
                        <a asp-action="Index" asp-controller="Products" asp-area="">
                            <p>Ürünler</p>
                            <img src="~/lib/Icons/chevron-down.svg" alt="">
                        </a>
                        @await Component.InvokeAsync("LayoutPageCategoryComponent")
                    </li>
                    <li class="header-list-item">
                        <a asp-action="Index" asp-controller="Blogs" asp-area="">
                            <p>Blog</p>
                            <img src="~/lib/Icons/chevron-down.svg" alt="">
                        </a>
                        @await Component.InvokeAsync("LayoutPageBlogComponent")
                    </li>
                    <li class="header-list-item">
                        <a asp-action="Info" asp-controller="Home" asp-area="">
                            <p>Hakkımızda</p>
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="header-list-item">
                            <a asp-action="Index" asp-controller="Home" asp-area="Admin">
                                <img src="../wwwroot/lib/Icons/map.svg" alt="">
                                <p>Admin</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="header-empty">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white">
                    <use href="#grid" height="100%">

                    </use>
                </svg>
            </div>
        </div>
        <ul class="header-list-group-sm list-group">
            <li class="header-list-item">
                <a href="#" class="list-group-item">
                    <svg class="bi">
                        <use href="#house"></use>
                    </svg>
                    <p>Anasayfa</p>
                </a>

            </li>
            <li class="header-list-item">
                <a href="" class="list-group-item">
                    <svg class="bi">
                        <use href="#youtube"></use>
                    </svg>
                    <p>Ürünler</p>
                    <svg class="bi">
                        <use href="#chevron-down"></use>
                    </svg>
                </a>
                <ul class="header-list-item-group list-group">
                    <li>
                        <a class="list-group-item" href="">
                            <p>Etralom</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="">
                            <p>Cifawis</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="">
                            <p>Havacigeg</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="">
                            <p>Pujvobmaj</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="">
                            <p>Ujabebdeh</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="">
                            <p>Argogos</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="">
                            <p>Focigal</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="header-list-item">
                <a href="" class="list-group-item">
                    <svg class="bi">
                        <use href="#youtube"></use>
                    </svg>
                    <p>Blog</p>
                    <svg class="bi">
                        <use href="#chevron-down"></use>
                    </svg>
                </a>
                <ul class="header-list-item-group list-group">
                    <li>
                        <a href="" class="list-group-item">
                            <p>Etralom</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item">
                            <p>Cifawis</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item">
                            <p>Havacigeg</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item">
                            <p>Pujvobmaj</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item">
                            <p>Ujabebdeh</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item">
                            <p>Argogos</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item">
                            <p>Focigal</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="header-list-item">
                <a href="" class="list-group-item">
                    <svg class="bi">
                        <use href="#map"></use>
                    </svg>
                    <p>Hakkımızda</p>
                </a>
            </li>
        </ul>
    </header>

    <main role="main">
        @RenderBody()
    </main>


    <footer class="container">
        @* footer Dinamik Hale Getiriyor *@
        @await Component.InvokeAsync("LayoutPageFooter")
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/_Layout.js"></script>
    <script src="~/js/Library.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>