
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HalisElektronik</title>
    <meta name="author" content="Duhan Halis - DH">
    <meta name="description" content="@ViewData["Description"] - Televizyon Tamiri, Uydu İşleri, Sakarya">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container-fluid bg-dark px-5">

            <div class="row justify-content-center align-items-center" id="container-fluid">
                <div class="col col-sm-5 col-md-3" id="navbar-img">
                    <a href=""><img src="~/" height="50" alt="Logo"></a>
                </div>


                <div class="col col-md-6" id="navbar-group">
                    <ul class="row row-cols-auto gap-3 m-0 px-0 py-2 list-unstyled justify-content-center">
                        <a asp-controller="Anasayfa" asp-action="Index" asp-area="" class="col text-decoration-none text-center text-light">
                        <li class="text-nowrap">
                            Anasayfa
                        </li>
                        </a>
                        <a class="col text-decoration-none text-center text-light" asp-action="AboutUs" asp-controller="Home" asp-area="">
                        <li class="text-nowrap">Bloglar</li>
                        </a>

                        <li class="text-nowrap text-light">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" asp-action="Index" asp-controller="Product">Ürünler</a>
                            <div class="dropdown-menu dropdown-menu-dark border-0 pt-0 mx-0 rounded-3 shadow overflow-hidden">
                                <ul class="list-unstyled mb-0">
                                    @* kategoriyi dinamik hale getiriyor. *@
                                    <partial name="Partial/_ProductCategory.cshtml" />

                                </ul>
                            </div>
                        </li>
                        <a asp-action="Info" asp-controller="Home" asp-area="" class="col text-decoration-none text-center text-light">
                        <li class="text-nowrap">Hakkımızda</li>
                        </a>
                    </ul>
                </div>


                <div class="col col-md-3 col-sm-5 text-center invisible" id="hamburger">
                    <img src="../bootstrap-icons-1.9.1/icons/1-circle-fill.svg" fill="white" height="30" width="30" alt="">
                </div>
            </div>
        </div>
    </header>


    <main role="main">
        @RenderBody()
    </main>


    <footer class="container">
        @* footer Dinamik Hale Getiriyor *@
        @Html.Partial("Partial/_Footer.cshtml", ViewData["Footer"] as List<SocialMedia>)
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>