@{
    ViewData["Title"] = "Home Page";
    Layout = "../../Shared/_LayoutAdmin.cshtml";
}
<div class="row m-0">
    <partial name="../Shared/_NavbarAdmin.cshtml" />

    <div class="col-10 row my-2">
        <div class="col">
            
        </div>
        <div class="col">

        </div>
        <partial name="../../../../Views/Home/AboutUs.cshtml" />
    </div>
</div>