@model ProductImageListViewModel
@{
    ViewData["Title"] = "ProductsImgEdit";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}


<div class="container ">
    <div class="row justify-content-center align-items-center">
        <div class="col"></div>
        <div class="col-4 border border-1 rounded-3 my-5">
            <form asp-action="ProductsImgEdit" asp-controller="Product" asp-area="Admin" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="ProductId">
                <input type="hidden" asp-for="Id">
                <input type="hidden" asp-for="ImageUrl">

                <img src="https://localhost:7273/api/Image/GetImageByName/@(Model.ImageUrl)" class="col w-100 object-fit-contain my-5   " />
                <span asp-validation-for="ImageUrl"></span>

                <input type="file" accept=".jpg, .jpeg, .png, image/*" class="col form-control mb-3" asp-for="ImageUrlForm" />
                <label asp-for="ImageUrl"></label>

                <input type="text" class="form-control" asp-for="Title" />
                <span asp-validation-for="Title"></span>

                <button class="btn btn-warning my-3">Güncelle</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>